@import url('./__image/places__image.css');
@import url('./__paragraph/places__paragraph.css');
@import url('./__place/places__place.css');
@import url('./__text/places__text.css');
@import url('./__url-heading/places__url-heading.css');
@import url('./__url-link/places__url-link.css');
@import url('./__url/places__url.css');
@import url('./__website/places__website.css');

.places {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0px;
    width: 100%;
}