.video__item {
    display: flex;
    position: relative;
    flex-direction: column;
    width: calc((100% - 18px)/2);
    padding-bottom: 27%;
    margin: 0px 18px 0px 0px;
    justify-content: flex-end;
    background-size: cover;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url('../../../images/kamchatka.jpg');
    text-decoration: none;
    border-radius: 5px;
}

.video__item:last-of-type {
  margin-right: 0px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), 
    url('../../../images/observatory.jpg'); 
}

.video__item:hover {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../../images/kamchatka.jpg');
}

.video__item:last-of-type:hover {
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('../../../images/observatory.jpg');
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .video__item {
    width: calc((100% - 16px)/2);
    padding-bottom: 31%;
    margin: 0px 16px 0px 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__item {
    width: calc((100% - 16px)/2);
    padding-bottom: 28%;
    margin: 0px 16px 0px 0px;
  }
}

@media screen and (max-width: 767px) {
  .video__item {
    width: 100%;
    padding-bottom: 58%;
    margin: 0px 0px 8px;
  } 
  .video__item:last-of-type {
    margin-bottom: 0px;
  }
}