.video__duration {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin: 0px 0px 12px;
    z-index: 3;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .video__duration {
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 767px) {
    .video__duration {
        margin-bottom: 8px;
    }
}