.title_for_places {
    line-height: 65px;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .title_for_places {
        line-height: 46px; 
    }
}

@media screen and (max-width: 767px) {
    .title_for_places {
        line-height: 35px;
        margin-bottom: calc(32px - 24px);
    }
}
