.cover__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 274px 0px 48px;
}
  
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__content {
        padding: 211px 0px 48px;
    }
} 

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__content {
        padding: 165px 0px 40px;
    }
} 

@media screen and (max-width: 767px) {
    .cover__content {
        padding: 104px 0px 24px;
    }
} 
  