.intro__text-general-item {
    list-style-type: none;
    margin: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .intro__text-general-item {
        font-size: 12px;
        line-height: 19px;
    }
}